.CompanyCard-tile {
    background-color: #F5F5F5;
    margin: auto; 
    margin-top: 20px; 
    width: 75%; 
}

.CompanyCard-link {
    text-decoration: none; 
    color: black; 
}

.CompanyCard-link:hover {
    color: darkblue;
}

.card-title {
    font-weight: bold; 
    color: rgb(214, 5, 5); 
}
