.CompanyDetail-div {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-left: 20px;
}

/* .CompanyDetail-div h4 {
	text-align: center;
}

.CompanyDetail-div p {
	text-align: center;
}

.card-text p {
	text-align: start;
} */
