.CompanyCard {
	background-color: #f5f5f5;
	margin: auto;
	margin-top: 20px;
	width: 65%;
}

.CompanyCard-link {
	text-decoration: none;
	color: black;
}

.CompanyCard-link:hover {
	color: darkblue;
	text-decoration: none;
}

.card-title {
	font-weight: bold;
	color: rgb(214, 5, 5);
}
